pipeline/Generic_Load_ETL.json
{
	"name": "Generic_Load_ETL",
	"properties": {
		"activities": [
			{
				"name": "LkpETLCntlTbl",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT src_tbl_name,\ntarget_table_name,\ntruncate_flag FROM DBO.ETL_CNTL_TBL",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSqlTbl_StudentSrc",
						"type": "DatasetReference",
						"parameters": {
							"ParamTblName": "xxxx"
						}
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkpETLCntlTbl",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkpETLCntlTbl').output.value",
						"type": "Expression"
					},
					"isSequential": true,
					"activities": [
						{
							"name": "Execute Pipeline1",
							"type": "ExecutePipeline",
							"dependsOn": [],
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "GerericLoad",
									"type": "PipelineReference"
								},
								"waitOnCompletion": false,
								"parameters": {
									"ParamSrcTableName": {
										"value": "@item().src_tbl_name",
										"type": "Expression"
									},
									"ParamTrgtTableName": {
										"value": "@item().target_table_name",
										"type": "Expression"
									},
									"TruncateFlag": {
										"value": "@item().truncate_flag",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}