pipeline/PL_SCD.json
{
	"name": "PL_SCD",
	"properties": {
		"activities": [
			{
				"name": "LkpMaxSurrKey",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderQuery": "SELECT ISNULL(MAX(STUDENT_SKEY),0) MAXKEY FROM DBO.STUDENT_DIM",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DS_AzureSqlTbl_StudentDim",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "GetMaxValue",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "LkpMaxSurrKey",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('LkpMaxSurrKey').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "DF_SCD_Exists",
							"type": "ExecuteDataFlow",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "DF_Exists_SCD",
									"type": "DataFlowReference",
									"parameters": {
										"MaxSurrKey": {
											"value": "@item().MAXKEY",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						}
					]
				}
			}
		],
		"variables": {
			"maxkey": {
				"type": "Integer"
			}
		},
		"annotations": []
	}
}